body {
  background-color: antiquewhite;
}

.menu_index {
  background-color: #61380B;
  color: white;
}

.buttons_menu {
  margin: 5px;
}

.buttons_crud {
  margin: 5px;
}

.conteudo_principal {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center;
}

thead {
  font-weight: bold;
}

td {
  border: 1px solid black;
}

.selects {
  width: 75px;
}

#form-index {
  width: 100%;
}